p {
  color: white;
  z-index: 2;
  position: relative;
  font-family: "Italianno", cursive;
}


label {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100px;
  position: relative;
  z-index: 2;
}

input {
  width: 150px;
  border: 2px solid black;
  z-index: 3;
  opacity: 0.7;
}

#box4labels {
    position: relative;
    max-width: 190px;
    height: auto;
    border: 2px solid #ffffff;
    padding-right: 30px;
    padding-bottom: 30px;;
    box-sizing: border-box;
    z-index: 2;
    background-color: #9b1c31;
    opacity: .9;
  }

body {
  background-color: #9b1c31;
}

button {
  color: red;
  background-color: black;
  border: 3px solid black;
  border-radius: 5px;
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
}

#backgroundimg {
  display: flex;
  margin: auto;
  background: url(hiclipart.com.png) no-repeat bottom;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  opacity: 0.7;
  z-index: 1;
}
